In [1]:
import os

In [115]:
yourpath = './'
listofFiles = []
import os
import pandas as pd
for root, dirs, files in os.walk(yourpath, topdown=False):
    for name in files[1:-1]:        
        print(os.path.join(root, name))
        try:
            listofFiles.append(pd.read_csv(os.path.join(root, name)[2:], sep = '\t', header= None)) 
        except:
            pass

./GSM2492066_Sample_EV_1a_Counts.txt
./GSM2492067_Sample_EV_1b.Counts.txt
./GSM2492067_Sample_EV_1b_Counts.txt
./GSM2492068_Sample_EV_1c.Counts.txt
./GSM2492068_Sample_EV_1c_Counts.txt
./GSM2492069_Sample_EV_2a.Counts.txt
./GSM2492070_Sample_EV_2b.Counts.txt
./GSM2492071_Sample_EV_2c.Counts.txt
./GSM2492072_Sample_OSKM_1a.Counts.txt
./GSM2492073_Sample_OSKM_1b.Counts.txt
./GSM2492074_Sample_OSKM_1c.Counts.txt
./GSM2492075_Sample_OSKM_2a.Counts.txt
./GSM2492076_Sample_OSKM_2b.Counts.txt
./GSM2492077_Sample_OSKM_2c.Counts.txt
./GSM2786611_Sample_O211_1a.Counts.txt
./GSM2786612_Sample_O211_1b.Counts.txt
./GSM2786613_Sample_O211_1c.Counts.txt
./GSM2786614_Sample_O211_2a.Counts.txt
./GSM2786615_Sample_O211_2b.Counts.txt
./GSM2786616_Sample_O211_2c.Counts.txt
./GSM2786617_Sample_O212_1a.Counts.txt
./GSM2786618_Sample_O212_1b.Counts.txt
./GSM2786619_Sample_O212_1c.Counts.txt
./GSM2786620_Sample_O212_2a.Counts.txt
./GSM2786621_Sample_O212_2b.Counts.txt
./GSM2786622_Sample_O212_2c.Counts.txt
./GSM2786623_Sample_OmT2_1a.Counts.txt
./GSM2786624_Sample_OmT2_1b.Counts.txt
./GSM2786625_Sample_OmT2_1c.Counts.txt
./GSM2786626_Sample_OmT2_2a.Counts.txt
./GSM2786627_Sample_OmT2_2b.Counts.txt
./GSM2786628_Sample_OmT2_2c.Counts.txt
./GSM2786629_Sample_OmT3_1a.Counts.txt
./GSM2786630_Sample_OmT3_1b.Counts.txt
./GSM2786631_Sample_OmT3_1c.Counts.txt
./GSM2786632_Sample_OmT3_2a.Counts.txt
./GSM2786633_Sample_OmT3_2b.Counts.txt
./GSM2786634_Sample_OmT3_2c.Counts.txt

In [116]:
files = files[1:-1]

In [117]:
len(files)

38

In [118]:
l = [listofFiles[i] for i in range(len(files))]

In [119]:
dt = pd.concat(l, axis=1, ignore_index=True)

In [120]:
def duplicate_columns(df, return_dataframe = False, verbose = False):
    '''
        a function to detect and possibly remove duplicated columns for a pandas dataframe
    '''
    from pandas.core.common import array_equivalent
    # group columns by dtypes, only the columns of the same dtypes can be duplicate of each other
    groups = df.columns.to_series().groupby(df.dtypes).groups
    duplicated_columns = []
 
    for dtype, col_names in groups.items():
        column_values = df[col_names]
        num_columns = len(col_names)
 
        # find duplicated columns by checking pairs of columns, store first column name if duplicate exist 
        for i in range(num_columns):
            column_i = column_values.iloc[:,i].values
            for j in range(i + 1, num_columns):
                column_j = column_values.iloc[:,j].values
                if array_equivalent(column_i, column_j):
                    if verbose: 
                        print("column {} is a duplicate of column {}".format(col_names[i], col_names[j]))
                    duplicated_columns.append(col_names[i])
                    break
    if not return_dataframe:
        # return the column names of those duplicated exists
        return duplicated_columns
    else:
        # return a dataframe with duplicated columns dropped 
        return df.drop(labels = duplicated_columns, axis = 1)

In [127]:
col3 = dt[3]
col5 = dt[5]

In [128]:
[print('1') for c3, c5 in zip(col3, col5) if c3 != c5]

[]

In [121]:
len(duplicate_columns(dt, False, True))

C:\Users\Petr\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: DeprecationWarning: 'pandas.core.common.array_equivalent' is deprecated and is no longer public API

column 3 is a duplicate of column 5
column 7 is a duplicate of column 9
column 0 is a duplicate of column 2
column 2 is a duplicate of column 4
column 4 is a duplicate of column 6
column 6 is a duplicate of column 8
column 8 is a duplicate of column 10
column 10 is a duplicate of column 12
column 12 is a duplicate of column 14
column 14 is a duplicate of column 16
column 16 is a duplicate of column 18
column 18 is a duplicate of column 20
column 20 is a duplicate of column 22
column 22 is a duplicate of column 24
column 24 is a duplicate of column 26
column 26 is a duplicate of column 28
column 28 is a duplicate of column 30
column 30 is a duplicate of column 32
column 32 is a duplicate of column 34
column 34 is a duplicate of column 36
column 36 is a duplicate of column 38
column 38 is a duplicate of column 40
column 40 is a duplicate of column 42
column 42 is a duplicate of column 44
column 44 is a duplicate of column 46
column 46 is a duplicate of column 48
column 48 is a duplicate of column 50
column 50 is a duplicate of column 52
column 52 is a duplicate of column 54
column 54 is a duplicate of column 56
column 56 is a duplicate of column 58
column 58 is a duplicate of column 60
column 60 is a duplicate of column 62
column 62 is a duplicate of column 64
column 64 is a duplicate of column 66
column 66 is a duplicate of column 68
column 68 is a duplicate of column 70
column 70 is a duplicate of column 72
column 72 is a duplicate of column 74

39

In [125]:
del files[3]
del files[7]

In [126]:
len(files)

36

In [122]:
new_df = duplicate_columns(dt, True)

C:\Users\Petr\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: DeprecationWarning: 'pandas.core.common.array_equivalent' is deprecated and is no longer public API

In [129]:
new_df.columns.shape

(37,)

In [130]:
new_df[:5]

,1,5,9,11,13,15,17,19,21,23,...,59,61,63,65,67,69,71,73,74,75
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ENSG00000223972,0
1,0,0,0,0,0,0,0,0,0,0,...,1,1,0,2,0,1,0,0,ENSG00000227232,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ENSG00000243485,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ENSG00000221311,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ENSG00000237613,0

In [131]:
new_names = {}

In [132]:
len(files)

36

In [134]:
for i, j in zip(new_df.columns[:35], files[:-1]):
    print(i, j)
    new_names[i] = j

1 GSM2492066_Sample_EV_1a_Counts.txt
5 GSM2492067_Sample_EV_1b.Counts.txt
9 GSM2492067_Sample_EV_1b_Counts.txt
11 GSM2492068_Sample_EV_1c_Counts.txt
13 GSM2492069_Sample_EV_2a.Counts.txt
15 GSM2492070_Sample_EV_2b.Counts.txt
17 GSM2492071_Sample_EV_2c.Counts.txt
19 GSM2492073_Sample_OSKM_1b.Counts.txt
21 GSM2492074_Sample_OSKM_1c.Counts.txt
23 GSM2492075_Sample_OSKM_2a.Counts.txt
25 GSM2492076_Sample_OSKM_2b.Counts.txt
27 GSM2492077_Sample_OSKM_2c.Counts.txt
29 GSM2786611_Sample_O211_1a.Counts.txt
31 GSM2786612_Sample_O211_1b.Counts.txt
33 GSM2786613_Sample_O211_1c.Counts.txt
35 GSM2786614_Sample_O211_2a.Counts.txt
37 GSM2786615_Sample_O211_2b.Counts.txt
39 GSM2786616_Sample_O211_2c.Counts.txt
41 GSM2786617_Sample_O212_1a.Counts.txt
43 GSM2786618_Sample_O212_1b.Counts.txt
45 GSM2786619_Sample_O212_1c.Counts.txt
47 GSM2786620_Sample_O212_2a.Counts.txt
49 GSM2786621_Sample_O212_2b.Counts.txt
51 GSM2786622_Sample_O212_2c.Counts.txt
53 GSM2786623_Sample_OmT2_1a.Counts.txt
55 GSM2786624_Sample_OmT2_1b.Counts.txt
57 GSM2786625_Sample_OmT2_1c.Counts.txt
59 GSM2786626_Sample_OmT2_2a.Counts.txt
61 GSM2786627_Sample_OmT2_2b.Counts.txt
63 GSM2786628_Sample_OmT2_2c.Counts.txt
65 GSM2786629_Sample_OmT3_1a.Counts.txt
67 GSM2786630_Sample_OmT3_1b.Counts.txt
69 GSM2786631_Sample_OmT3_1c.Counts.txt
71 GSM2786632_Sample_OmT3_2a.Counts.txt
73 GSM2786633_Sample_OmT3_2b.Counts.txt

In [136]:
new_names[74] = 'ENSG'

In [138]:
new_names[75] = files[-1]

In [145]:
new_df = new_df.rename(index=str, columns=new_names)

In [149]:
new_df.to_csv('new_table.csv', header=True, index=False)